# Ambiente objetivo
MOTOR_BASE_URL=https://distribuciongastosdev.pacificotest.com.pe/distribuciones/

# Credenciales (no subir valores reales)
MOTOR_USERNAME=
MOTOR_PASSWORD=

# Configuracion opcional
PW_WORKERS=1
PW_SLOWMO=0
HEADLESS=true
