# Ambiente objetivo
MOTOR_BASE_URL=https://distribuciongastosdev.pacificotest.com.pe/distribuciones/

# Credenciales Admin (no subir valores reales)
MOTOR_USERNAME=
MOTOR_PASSWORD=

# Credenciales Gestor de Gastos Financieros (no subir valores reales)
MOTOR_GESTOR_GF_USERNAME=
MOTOR_GESTOR_GF_PASSWORD=

# Configuracion opcional
PW_WORKERS=1
PW_SLOWMO=0
HEADLESS=true

# Configuracion para eliminacion de distribuciones QA
E2E_DISTRIBUCION_DELETE_TARGET=
